<div class="mdl-grid mdl-grid--no-spacing">
    <form class="mdl-cell--4-col-tablet mdl-cell--3-col-desktop mdl-cell--4-offset-desktop mdl-cell--2-offset-tablet">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name" value="<%= name %>" name="name" pattern="?[а-яА-Яa-zA-Z0-9\s]+?" />
            <label class="mdl-textfield__label" for="name">Наименование</label>
            <span class="mdl-textfield__error">Неверный формат наименования. Наименование должно состоять из цифр, букв и пробела</span>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="city" value="<%= city %>" name="city" pattern="?[а-яА-Яa-zA-Z\s0-9]+?" />
            <label class="mdl-textfield__label" for="city">Город</label>
            <span class="mdl-textfield__error">Неверный формат города. Город должен состоять из букв</span>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="street" value="<%= street %>" name="street" pattern="?[а-яА-Яa-zA-Z0-9\s\.\,\-\/\\]+?" />
            <label class="mdl-textfield__label" for="street">Улица</label>
            <span class="mdl-textfield__error">Неверный формат улицы.</span>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="house" value="<%= house %>" name="house" pattern="?[а-яА-Яa-zA-Z0-9\s\-\.\,\\\.]+?" />
            <label class="mdl-textfield__label" for="house">Дом</label>
            <span class="mdl-textfield__error">Неверный формат дома. Номер дома должен состоять из цифр, точек, слэша</span>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="structure" value="<%= structure %>" name="structure" pattern="?[а-яА-Яa-zA-Z0-9\s\-\.\,\\\.]+?" />
            <label class="mdl-textfield__label" for="structure">Строение</label>
            <span class="mdl-textfield__error">Неверный формат строения. Строение должно состоять из цифр, точек, слэша</span>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="site" value="<%= site %>" name="site" />
            <label class="mdl-textfield__label" for="site">Web-сайт</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="email" value="<%= email %>" name="email" pattern="/^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" />
            <label class="mdl-textfield__label" for="email">Email</label>
            <span class="mdl-textfield__error">Неверный формат email.</span>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="phone" value="<%= phone %>" name="phone" />
            <label class="mdl-textfield__label" for="phone">Телефон</label>
        </div>

        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="Создать" />
        <a href="#!/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Назад</a>
    </form>
</div>

<div id="login-error-snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>